# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.sqlite3

# Ignore IDE/editor config files
.vscode/
*.sublime-project
*.sublime-workspace
.idea/

# Ignore static files (if applicable)
staticfiles/

# Ignore environment variables (if applicable)
.env
